/* This is the official AtlasUI Web Framework stylesheet
 * The stylesheet will be divided up into different framework / module types */

/* This is the beginning of the audio and video framework styling */

/* This is the end of the audio and video framework styling */

/* This is the beginning of the AtlasUI Main Module styling */

	/* Modules */

		.elegant_module{
			
			border: 1px solid #333333;
			border-radius: 5px;
			-moz-border-radius: 5px;
			background-color: white;
			
		}
		
		.elegant_module label{
			
			width: 98%;
			height: 24px;
			margin: 1%;
			background-color: #666666;
			color: #0099ff;
			font-size: 18px;
			line-height: 24px;
			text-indent: 5px;
			border-radius: 5px 5px 0px 0px;
			-moz-border-radius: 5px 5px 0px 0px;
			float: left;
		}
		
		.minimalistic_module{
			
			border: 1px solid #CCCCCC;
			border-radius: 5px;
			-moz-border-radius: 5px;
			background-color: white;
			
		}
		
		.minimalistic_module label{
			
			width: 98%;
			height: 24px;
			margin: 1%;
			background-color: white;
			color: #666666;
			font-size: 18px;
			line-height: 24px;
			float: left;
			
		}
	
	/* End Modules */
	
	/* Search */
	
		.search_module{
			width: 250px;
			height: 32px;
			float: left;
			position: inherit;
			border: 1px solid #CCCCCC;
			border-radius: 5px;
			-moz-border-radius: 5px;
			margin: 3px;
		}
		
		.search_module input{
			float: left;
			min-width: 120px;
			width: auto;
			max-width: 165px;
			height: 30px;
			font-size: 16px;
			border: 0px;
			background-color: transparent;
		}
		
		.search_module button{
			min-width: 75px;
			width: auto;
			max-width: 120px;
			height: 32px;
			float: right;
			border-left: 1px solid #CCCCCC;
			border-top: 0px;
			border-right: 0px;
			border-bottom: 0px;
			background-color: white;
			text-align: center;
			line-height: 30px;
			color: #666666;
			font-size: 16px;
		}
	/* End Search */
	
	/* Topbar */
	
		.elegant_topbar{
			
			width: 100%;
			float: left;
			min-height: 32px;
			height: 50px;
			top: 0;
			left: 0;
			margin-bottom: 10px;
			z-index: 2;
			position: inherit;
			border-bottom: 1px solid #0099ff;
			background-color: #666666;
			color: white;
			
		}
		
		.minimalistic_topbar{
			
			width: 100%;
			float: left;
			min-height: 32px;
			height: 50px;
			top: 0;
			left: 0;
			margin-bottom: 10px;
			z-index: 2;
			position: absolute;
			border-bottom: 1px solid #CCCCCC;
			color: #666666;
			background-color: #ffffff;
		}
	/* End Topbar */
	
/* This is the end of the AtlasUI Main Module styling */

/* This is the beginning of the AtlasUI Browser Interaction styling */

.atlasui_notification
{
	width:300px;
	height:150px;
	background: white;
	border: 2px solid #CCCCCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	z-index: 5;
	animation: notify 10s;
	-moz-animation: notify 10s; /* Firefox */
	-webkit-animation: notify 10s; /* Safari and Chrome */
	opacity: 0;
}

#atlasui_notification_title{
	width: 90%;
	height: 24px;
	margin: 5px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	border-bottom: 1px solid #eeeeee;
	color: #0099ff; 
}

#atlasui_notification_message{
	width: 90%;
	height: 24px;
	margin: 10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black; 
}

@keyframes notify
{
	0% {opacity: 0;}
	50% {opacity: 1.0;}
	75% {opacity: 1.0;}
	100% {opacity: 0;}
}

@-moz-keyframes notify
{
	0% {opacity: 0;}
	50% {opacity: 1.0;}
	75% {opacity: 1.0;}
	100% {opacity: 0;}
}

@-webkit-keyframes notify
{
	0% {opacity: 0;}
	50% {opacity: 1.0;}
	75% {opacity: 1.0;}
	100% {opacity: 0;}
}

/* This is the end of the AtlasUI Browser Interaction styling */

/* This is the beginning of the Social Network Framework styling */

/* This is the end of the Social Network Framework styling */
